Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Releases/0.0.1.3/WindowsNoEditor/StopTheProp2-WindowsNoEditor.pak
Content/Maps/Nico/FIrstMap_BuiltData.uasset
Content/Maps/Luca/Luca_BuiltData.uasset
